.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
  
.link-button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #007bff;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}
  
.link-button:hover {
    color: #0056b3;
}
  